.container
  .row
    .col-lg-10.col-md-8
      %h3 Information
      %p Company
      = @customer.company
      %p Manager
      %p First name
      = @customer.first_name
      %p Last name
      = @customer.last_name
      %p Email
      = @customer.email
      %p Phone
      = @customer.phone