.container
  .row
    .col-lg-10.col-md-8
      %h3 Informaiton
      = link_to "Edit", edit_admin_admin_path(@admin), class: 'btn btn-primary'
       %p Company
       = @admin.company
       %p Name
       = @admin.name
       %p Email
      = @admin.email
       %p Phone
       = @admin.phone
