.d-flex
  %nav.navbar.navbar-expand-lg.navbar-light
    .container
      = link_to "CleaningSchedule", root_path, class: 'text-decoration-none'
      %button.navbar-toggler(data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation")
        %span.navbar-toggler-icon
      .collapse.navbar-collapse#navbarNavDropdown
        %ul.navbar-nav.ml-auto
        - if customer_signed_in?
          %li.nav-item

        - elsif admin_signed_in?
          %li.nav-item

        - else
          %li.nav-item
            %p Client is here
          %li.nav-item
            = link_to "Sign up", new_customer_registration_path
          %li.nav-item
            = link_to "Log in", new_customer_session_path
          %li.nav-item
            %p Clean Company is here
          %li.nav-item
            = link_to "Sign up", new_admin_registration_path
          %li.nav-item
            = link_to "Log in", new_admin_session_path